---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=2740)?apiKey=ru99w3xp6qu5848qvbgrznxq&format=json&pageSize=1&show=longName,storeType,address,region,postalCode,city,hoursAmPm,storeId
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=2740)?show=longName,storeType,address,region,postalCode,city,hoursAmPm,storeId&format=json&apiKey=ru99w3xp6qu5848qvbgrznxq",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "storeType": "Mobile",
              "address": "3000 East First Ave",
              "region": "CO",
              "postalCode": "80206",
              "city": "Denver",
              "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm",
              "storeId": 2740
            }
          ]
        }
  recorded_at: Tue, 02 Aug 2016 17:46:39 GMT
recorded_with: VCR 3.0.3
